body {
    font-family: "Georgia", 'Times New Roman', Times, serif;
    background-repeat: initial;
    border-color: #666;
    background-image: url("/assets/images/halftone-yellow/halftone-yellow.png");
    color: black;
}

#header {
    color: goldenrod;
    background-color: darkred;
    border-width: 1px;
    border-bottom-style: outset;
    border-bottom-color: #666;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.picture

p {
    text-align: center;
}
